<aside>
	<div class="panel radius">
		<h3>What We Do</h3>
		<p>
            <ul>
                <!-- <li>Ride!</li>
                <li>Advocate for our sport</li>
                <li>Build and maintain trails</li>
                <li>Write Grants & Raise Money</li>
                <li>Socialize</li> -->
				<li><b>ENJOY</b> - Great rides and events</li>
				<li><b>ADVOCATE</b> - with BLM, USFS, CO State, TPA, others</li>
				<li><b>SUPPORT</b> - Trail development, construction and maintenance</li>
				<li><b>EDUCATE</b> - riders and other trail users</li>
				<li><b>MAINTAIN</b> - Access to trails and public lands</li>
				<li><b>RIDE</b> - awesome singletrack!</li>
            </ul>
		</p>
	</div>

  <img class="b30" src="http://dummyimage.com/303x16:9/df4949/e27b3f.png&amp;text=Ugly+Ad+Space" alt="">


	<div class="border-dotted radius b30">
		<img src="{{ site.urlimg }}/cropped-MTRA-logo-transparent-1_271_271.png" alt="MTRA Logo">
		<p class="text-left">
			<!-- Place caption here!</a> -->
		</p>
	</div>
</aside>