<aside>
	<div class="panel radius">
		<h3>Ride Details</h3>
		<ul>
			<li><b>When:</b> {{ page.ride.when }}</li>
			<li><b>Where:</b> <a href="{{page.ride.directions}}">{{ page.ride.where }}</a></li>
			<li><b>Leader:</b> {{ page.ride.leader }}</li>
			<li><b>Difficulty:</b> {{ page.ride.difficulty }}</li>
            <li><b>Pace:</b> {{ page.ride.pace }}</li>
            <li><b>Distance:</b> {{ page.ride.distance }}</li>
            <li><b>Terrain:</b> {{ page.ride.terrain }}</li>
		</ul>
	</div>

  <img class="b30" src="{{ site.urlimg }}/mtra-motomeetup_612x792.jpg" alt="">


	<div class="border-dotted radius b30">
		<img src="{{ site.urlimg }}/cropped-MTRA-logo-transparent-1_271_271.png" alt="MTRA Logo">
		<p class="text-left">
			<!-- Place caption here!</a> -->
		</p>
	</div>
</aside>