<aside>
	<div class="panel radius">
		<h3>Quick Details</h3>
		<ul>
			<li><b>When:</b> {{ page.event.when }}</li>
			<li><b>Where:</b> <a href="{{page.event.directions}}">{{ page.event.where }}</a></li>
			<li><b>What:</b> {{ page.event.what }}</li>
			<li><b>Who:</b> {{ page.event.who }}</li>
		</ul>
	</div>

	{% if page.event.directions %}
	{% if page.event.directions contains '/@' %}
		{% assign coords_part = page.event.directions | split: '/@' | last | split: '/' | first %}
	{% elsif page.event.directions contains '/search/' %}
		{% assign coords_part = page.event.directions | split: '/search/' | last | split: '?' | first %}
	{% else %}
		{% assign coords_part = page.event.where %}
	{% endif %}
	{% assign coords_array = coords_part | replace: '+', '' | split: ',' %}
	{% assign map_query = coords_array[0] | default: coords_part %}
	{% if coords_array.size > 1 %}
		{% assign map_query = coords_array[0] | append: ',' | append: coords_array[1] %}
	{% endif %}
	<div class="b30">
		<iframe
			width="300"
			height="300"
			style="border:0; border-radius:3px;"
			loading="lazy"
			allowfullscreen
			referrerpolicy="no-referrer-when-downgrade"
			src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDQCDC7v-pRLTW4HIGl6wCEt8yGFaDEOXo&q={{ map_query }}&zoom=14">
		</iframe>
	</div>
	{% endif %}


	<div class="border-dotted radius b30">
		<img src="{{ site.urlimg }}/mtra_logo_new_271_221.png" alt="MTRA Logo">
		<p class="text-left">
			<!-- Place caption here!</a> -->
		</p>
	</div>
</aside>
