<aside>
	<div class="panel radius">
		<h3>Ride With Us!</h3>
		<ul>
			<li><b>Meet</b> - Fellow local riders</li>
			<li><b>Learn</b> - New trails and riding areas</li>
			<li><b>Ride Safely</b> - Always wear full protective gear including helmet, boots, and gloves</li>
		</ul>
	</div>

  <img class="b30" src="{{ site.urlimg }}/mtra-motomeetup_612x792.jpg" alt="">


	<div class="border-dotted radius b30">
		<img src="{{ site.urlimg }}/cropped-MTRA-logo-transparent-1_271_271.png" alt="MTRA Logo">
		<p class="text-left">
			<!-- Place caption here!</a> -->
		</p>
	</div>
</aside>