<aside>
	<div class="panel radius">
		<h3>Quick Details</h3>
		<ul>
			<li><b>When:</b> {{ page.event.when }}</li>
			<li><b>Where:</b> <a href="{{page.event.directions}}">{{ page.event.where }}</a></li>
			<li><b>What:</b> {{ page.event.what }}</li>
			<li><b>Who:</b> {{ page.event.who }}</li>
		</ul>
	</div>

  <img class="b30" src="http://dummyimage.com/303x16:9/df4949/e27b3f.png&amp;text=Ugly+Ad+Space" alt="">


	<div class="border-dotted radius b30">
		<img src="{{ site.urlimg }}/cropped-MTRA-logo-transparent-1_271_271.png" alt="MTRA Logo">
		<p class="text-left">
			<!-- Place caption here!</a> -->
		</p>
	</div>
</aside>