<aside>
	<div class="panel radius">
		<h3>Volunteering Details</h3>
		<ul>
			<li><b>When:</b> {{ page.volunteer.when }}</li>
			<li><b>Where:</b> <a href="{{page.volunteer.directions}}">{{ page.volunteer.where }}</a></li>
			<li><b>Work:</b> {{ page.volunteer.work }}</li>
			<li><b>Leader:</b> {{ page.volunteer.leader }}</li>
            <li><b>Access:</b> {{ page.volunteer.access }}</li>
            <li><b>Bring:</b> {{ page.volunteer.bring }}</li>
		</ul>
	</div>

  <!-- <img class="b30" src="{{ site.urlimg }}/mtra-motomeetup_612x792.jpg" alt=""> -->


	<div class="border-dotted radius b30">
		<img src="{{ site.urlimg }}/cropped-MTRA-logo-transparent-1_271_271.png" alt="MTRA Logo">
		<p class="text-left">
			<!-- Place caption here!</a> -->
		</p>
	</div>
</aside>