---
# This layout is used to redirect pages, if you moved them.
# Use the following settings in front matter:
# 
# layout: redirect
# sitemap: false
# permalink: /old-location/
# redirect_to:  /new-location/
# 
# Idea and Code by: http://codingtips.kanishkkunal.in/about/
#
# An absolute URL (containing "://") is used as-is. A root-relative path
# (e.g. /volunteers/...) gets site.url + site.baseurl prepended, matching how
# the rest of the site links to posts ({{ site.url }}{{ site.baseurl }}{{ post.url }}).
# This is required because the site is served at the apex domain root via a
# custom domain (mtragj.org), while baseurl is /mtragj: a root-relative
# /mtragj/... path 404s on the apex, but the full github.io/mtragj/... URL
# 301-redirects to the correct apex path the same way every other link does.
---
{% if page.redirect_to contains '://' %}{% assign redirect_target = page.redirect_to %}{% else %}{% assign redirect_target = page.redirect_to | prepend: site.baseurl | prepend: site.url %}{% endif %}
<!DOCTYPE html>
<html>
<head>
<link rel="canonical" href="{{ redirect_target }}"/>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta http-equiv="refresh" content="0;url={{ redirect_target }}" />
</head>
<body>
    <h1>Redirecting...</h1>
      {{ site.data.language.if_you_are_not_redirected_automatically }} <a href="{{ redirect_target }}">{{ site.data.language.click_here }}</a>.
      <script>location='{{ redirect_target }}'</script>
</body>
</html>
